[Unit]
Description=Nvidia Camera Gstreamer Stream
After=network.target

[Service]
Type=simple
User=iot
WorkingDirectory=/home/iot/Desktop/microservices
ExecStart=/usr/bin/python3 /home/iot/Desktop/microservices/jetson_pure_gst.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
